#img_load{
    position: fixed;
    z-index: 9;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}
#img_load img{
    height: 70%;
}

#body{
    display: none;
}