.dictionnaire{
  position:absolute;
  right:5px;
  top:80px;
  padding:8px;
  border-radius:12px;
  background:rgba(255, 255, 255, 0.07);
  text-align: right;
}


.dictionnaire .btn-octimus
{
  padding:5px;
  background:rgba(44, 7, 206, 0.21);
  margin-bottom:5px;
}

.dictionnaire .btn
{
  padding:5px;
}

@media all and (min-width:560px)
{
  .you
  {
    width:560px;
    height:315px;
  }
  
}

body #app-section
{
  height:100px;
  background:lightblue;
  text-align: center;
  padding:5px;
  background:rgba(88, 84, 207, 0.53);
}

.dictionnaire form
{
  width:300px;
  background: white;
  padding:10px;
  text-align:center;
}

div#promo{
  margin-top:60px;
  height:600px;
  text-align:center;
  padding:40px;
  background-size:cover;
  background-image:url(../../assets/img/bastille_resized.png);
}

div.jumbotron{
  border-radius:12px;
  background:rgba(255,255,255,.75);
  padding:20px;
  max-width:800px;
  margin:auto;
  margin-top:100px;
}

div#welcome{
  text-align:center;
  padding:40px;
  max-width:600px;
  margin:auto;
  font-family:arial, sans-serif;
}

div#lessons{
  text-align:center;
  padding:15px;
}

#lessons i{
  font-size:100px;
  color:#4870d7;
}

#welcome p{
  margin:40px 2px;
}

#le{
}

#lessons .item{
  margin-top:50px;
}

.item hicon.glyphicon-hourglass{
  font-size:436px;
}

div.container{
  margin-top:70px;
}

@media all and (max-width: 400px)
{
  html body
  {
    min-width:200%;
  }
  .dictionnaire
  {
    /* right:85%; */
  }
  body #btfmainFrame
  {
    display:none;
  }
}